<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>

        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <title>Stream Catcher</title>
        <link href="/resources/css/bootstrap.min.css" rel="stylesheet"/>   
        <link href="/resources/fontawesome/css/fontawesome.css" rel="stylesheet"/>
        <link href="/resources/css/sb-admin.css" rel="stylesheet"/>

    </head>

    <body>
        <h1>Page not found</h1>
    </body>

</html>
